<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Monitoring</title>
  <link href="/static/flot/flot.css" rel="stylesheet" type="text/css">
  <script language="javascript" type="text/javascript" src="/static/jquery/jquery-2.1.4.min.js"></script>
  <script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.min.js"></script>
  <script type="text/javascript">

  function populate_pes(job_info)
  {
    var options = '';
    $.each(job_info.processes, function( key, val ) {
      options += '<option>' + key + '</option>'
    });
    $('#pe_list').empty().append(options);
    $('#pe_list').trigger('change');
  }

  function populate_processes(job_info, pe_name)
  {
    var options = '';
    var numprocs = 0;
    $.each(job_info.processes[pe_name], function( key, val ) {
      numprocs++;
      options += '<option>' + val + '</option>'
    });
    if (numprocs > 1) options = '<option>All</option>' + options;
    $('#pe_processes').empty().append(options);
  }

  function loadData(job, pe, processes, method, limit)
  {
    if (limit === undefined || isNaN(limit))
    {
      limit = 100;
    }
    all_data = [];
    $.each(processes, function( index, proc ) {
      var url = "/db/" + job.name + "/method/" + pe + "/" + proc + "/"+ method + "?limit=" + limit
      $.getJSON(url, function( data ) {
        var dataset = [];
        var offset = -1;
        $.each( data, function( key, val ) {
          starttime = parseFloat(val[1])
          if (offset == -1)
            offset = starttime
          dataset.push([starttime-offset, val[0]]);
        });
        all_data.push({
            data: dataset,
            bars: { show: true, barWidth: .000001 }
            // points: {show: true}
        });
        plot = $.plot("#time_chart", all_data);
        // var series = plot.getData();
        // series[i].color
      });
    });
  }

  function refresh() {
    var limit = parseInt($('#limit').val());
    loadData({{job|safe}}, $('#pe_list').val(), select_processes(), $('#pe_methods').val(), limit)
  }

  function select_processes() {
    var selected = $('#pe_processes').val()
    var show_procs = []
    if (selected == 'All') {
      $("#pe_processes option").each(function() {
        if ($(this).val() != "All") {
          show_procs.push($(this).val());
        }
      });
    }
    else {
      show_procs = [selected];
    }
    return show_procs;
  }

  $(document).ready(function(){
    $('#refresh').click(function(){
      refresh();
    });
  });

  $(function() {
    $("#pe_list").on("change", function(e) {
      var selected = $(this).val();
      populate_processes({{job|safe}}, selected);
      refresh();
    });
    $("#pe_processes").on("change", function(e) {
      refresh();
    });
    $("#pe_methods").on("change", function(e) {
      refresh();
    });
    $("#limit").on("click", function(e) {
      refresh();
    });
    populate_pes({{job|safe}});
  });

  </script>
</head>
<body>

  <div id="header">
    <h2>{{name}}</h2>
  </div>


  <div id="content">

    <table>
      <tr>
        <td>Processing Element:</td>
        <td><select id='pe_list'></select></td>
      </tr>
      <tr>
        <td>Process:</td>
        <td><select id='pe_processes'></select></td>
      </tr>
      <tr>
        <td>Method:</td>
        <td>
          <select id="pe_methods">
            <option>process</option>
            <option>read</option>
            <option>write</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Number of calls:</td>
        <td><input style="text-align: right;" id="limit" type="number" value="100"></input></td>
      </tr>
      </table>
      <input id="refresh" type="button" value="Refresh"></input>

    <div class="demo-container">
      <div id="time_chart" class="demo-placeholder"></div>
    </div>

  </div>

  <div id="footer">
  </div>

</body>
</html>
