<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>dispel4py monitoring: {{job.name}}</title>
  </head>
  <body>
      <h2>{{ job.name }}</h2>
      <ul>
        <li><b>Started:</b> {{job.start_time}}
        <li><b>Completed:</b> {{job.end_time}}
        <li><b>Number of nodes:</b> {{job.processes|length}}
        <li><b>Total PE processing time:</b> {{job.total_time|round(4)}} s</li>
        <li><b>Total data size:</b> {{job.total_write_size}} bytes</li>
        <li><b>Total number of writes:</b> {{job.total_write_count}}</li>
        <li><b>Total number of reads:</b> {{job.total_read_count|round|int}}</li>
      </ul>

      <table>
        <thead>
          <tr>
            <th>PE</th>
            <th>Processes</th>
            <th>Total time</th>
            <th>Iterations</th>
            <th>Failed</th>
            <th>Last error</th>
          </tr>
        </thead>
        <tbody>
          {% for pe, info in job.status.items() %}
            <tr>
              <td><a href="#{{pe}}">{{pe}}</a></td>
              <td>
                {%- for proc in info.summary.processes %}
                  {{proc}}{% if not loop.last %},{% endif %}
                {%- endfor %}
              </td>
              <td style="text-align: right;">{{info.summary.time|round(4)}} s</td>
              <td style="text-align: right;">{{info.summary.count|round|int}}</td>
              <td style="text-align: right;">{{info.summary.error_count}}</td>
              {% if info.summary.last_error %}
              <td>{{info.summary.last_error}}</td>
              {% else %}
              <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% for pe, pe_info in job.status.items() %}
        <h3 id={{pe}}> {{ pe }} </h3>
        {% for rank, info in pe_info.detail.items() %}
        <h4>Process {{ rank }}</h4>
        <ul>
          <li><b>Iterations:</b> {{info.process.count|int}}
          <li>
            <b>Failed:</b>
            {% if info.process.error_count %}
              {{info.process.error_count|int}}
              ({{(100*info.process.error_count/info.process.count)|round(1)}}%)
            {% else %}
              0 (0%)
            {% endif %}
          </li>
          {% if info.process.last_error %}
          <li><b>Last error:</b> {{info.process.last_error}}
          {% endif %}
        </ul>
        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Iterations</th>
              <th>Average data size</th>
              <th>Total data</th>
            </tr>
          </thead>
          <tbody>
            {% for input_name, input_info in info.read.items() %}
            <tr>
              <td>Input</td>
              <td>{{input_name}}</td>
              <td style="text-align: right;">{{input_info.count}}</td>
              <td style="text-align: right;"></td>
              <td>&nbsp;</td>
            </tr>
            {% endfor %}
            {% for output_name, output_info in info.write.items() %}
            <tr>
              <td>Output</td>
              <td>{{output_name}}</td>
              <td style="text-align: right;">{{output_info.count}}</td>
              <td style="text-align: right;">{{(output_info.size/output_info.count)|round(2)}}</td>
              <td style="text-align: right;">{{output_info.size}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
      {% endfor %}

      <hr />
      <a href="http://dispel4py.org">dispel4py.org</a>
  </body>
</html>
